body {
    background-color: #efefef;
    background-image: url(../imgs/octocat.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 450px;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #FF8E34;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", sans-serif;
    font-weight: 100;
}

header {
    overflow: hidden;
    width: 100%;

    .profile {
        float: left;

        h1 {
            color: #000000;
            font-size: 60px;
            margin-bottom: 0;
        }

        .intro {
            float: left;
            line-height: 30px;
            text-align: justify;
            width: 500px;
        }
    }

    .pic {
        float: right;
        margin-right: 60px;
        margin-top: 50px;
    }
}

.main {
    overflow: hidden;

    .links {
        overflow: hidden;

        ul {
            margin: 20px 0;
            overflow: hidden;
            padding: 0;
            width: 100%;

            li {
                float: left;
                height: 160px;
                list-style: none;
                padding: 0 2%;
                width: 27%;

                h2 {
                    font-weight: 200;
                }

                &:not(:last-child) {
                    border-right: 1px solid #C7C7C7;
                }
            }
        }
    }
}

footer {
    margin: 40px 0 20px;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 900px;
}